<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hook</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");
      body {
        font-family: "Noto Sans KR", sans-serif;
      }
    </style>
  </head>
  <body>
    <!-- 헤더 영역 -->
    <header class="fixed w-full shadow-md">
      <nav class="bg-zinc-800 border-gray-900 py-2.5">
        <div
          class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto"
        >
          <div class="flex">
            <img
              src="/img/JBU_logo.png"
              class="flex h-9 mx-2"
              alt="중부대 로고"
            />
            <a href="/">
              <img src="/img/Hook_logo.png" class="h-9" alt="Hook 로고" />
            </a>
          </div>
        </div>
      </nav>
    </header>

    <!-- 섹션 영역 -->
    <section class="bg-neutral-700 min-h-screen flex flex-col justify-center">
      
    </section>
  </body>
</html>
